@charset "utf-8";
* {margin:0;padding:0; }
body,html{ overflow: auto;}
body,h1,h2,h3,h4,h5,h6,p,ul,ol,li,dl,dd,form,fieldset,th,td,button{margin:0px;padding:0px;}
body{font-family:'Malgun Gothic', "맑은 고딕", Arial, Verdana, sans-serif !important;font-size:13px;color:#000;word-break:keep-all;-webkit-text-size-adjust:none; min-width:320px;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:normal}
ul,ol,li,dl,dt,dd{list-style:none;vertical-align:top;}
img,fieldset,iframe{border:0 none}
a{text-decoration:none;color:#000; cursor: pointer}
a:link, a:visited, a:hover, a:active{text-decoration:none;}
address{font-style:normal}
strong{font-weight:bold}
table{border-collapse:collapse;border-spacing:0px;table-layout:fixed;zoom:1;width:100%;empty-cells:show;}
caption, legend{font-size:0px;line-height:0px;width:0px;height:0px;overflow:hidden;visibility:hidden;/*display:none;*/padding:0 !important}
legend{position:absolute;top:0px;left:-9999px;}
input, select, textarea{font-family:inherit;font-size:inherit;color:#444}
img, input, select, button{vertical-align:middle}
select, textarea{border:1px solid #d0d0d0;background-color:#ffffff}
input, button{color:inherit;vertical-align:center;}
button, input[type="button"], input[type="submit"], input[type="reset"]{cursor:pointer;border:0px;background:none}
input[type="text"], input[type="password"]{margin:0px;padding:0px;border:1px solid #d0d0d0;background-color:#ffffff;width:80px;height:28px;margin-right:5px;line-height:28px;padding-left:3px;}
input[type="text"], input[type="password"]{border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px;-ms-border-radius:2px;-o-border-radius:2px;}
input[type="checkbox"], input[type="radio"]{margin:0;margin-right:5px;width:8px;height:8px;width:14px;height:14px;}
div, li, dt, dd {vertical-align:top;}
select {margin:0px;padding:0px;border:1px solid #d0d0d0;width:100px;height:28px;margin-right:5px;padding-left:10px;font-size:14px;}
::-webkit-input-placeholder {color:#808080}
:-moz-placeholder {color:#808080;opacity:1}
::-moz-placeholder {color:#808080;opacity:1}
:-ms-input-placeholder {color:#808080}
:placeholder-shown {color:#808080}
select:focus { outline:1px solid #ededed}
caption,legend, .blind{visibility:hidden;overflow:hidden;position:absolute;top:0;left:-999em;width:0;height:0;font-size:0;line-height:0;text-align:left}
#skipnavigation{/*margin:-10px 0 0 0;*/}
#skipnavigation ul {margin:0}
#skipnavigation a {position:absolute; left:-3000%;}
#skipnavigation a:focus { display:block; left:0; top:0; z-index:10000000000; width:100%; height:30px; line-height:30px; background:#c9006b; color:#fff; text-align:center;}
.clfix{*zoom:1}
.clfix:after,.clfix:before{line-height:0;display:table;content:''}
.clfix:after{clear:both}
#wrap {position:relative; overflow-x: hidden;}
/* 헤더 */
#header .bG{position:absolute; width:100%; height:203px; left:0; top:114px; display:none; background:#fff; border-bottom:2px solid #1178cb; border-top:1px solid #cccccc;}
#header{padding:0;border-bottom: 1px solid #c7c7c7; box-sizing: border-box !important;}
#hd_top{margin:0 auto;padding:0;background:#e9e8e7;}
.hd_topwrap{overflow: hidden; width:940px; margin: 0 auto;}
.hd_topwrap a.btn_totalview{display:none; float:left;  margin:10px 0 0 8px;} 
.hd_topwrap a.btn_close{ display:none;}
.hd_topwrap .topR{float: right;margin: 0;line-height: 14px; padding:17px 0 13px;}
.hd_topwrap .topR li.bar{background:none;}
.hd_topwrap .topR li{float:left; background:url(../images/common/topBar.gif)no-repeat 0 3px; }
.hd_topwrap .topR li{float:left; background:url(../images/common/topBar.gif)no-repeat 0 3px; }
.hd_topwrap .topR li a{letter-spacing: 0;color: #555;text-decoration: none;font-size: 13px;padding:3px 20px;}
.hd_topwrap .topR li:last-child a{padding:3px 0 3px 20px;}
/*** Gnb ***/
.group_gnb{display:block;position:relative;margin:0 auto;width:940px;height: 85px;}
#gnb{}
.group_gnb h1.logo{width:319px; height:35px; position: absolute; left: 0; margin: 0; padding: 27px 0 0 0;}
.group_gnb h1 a img{display: block; width: 100%;}
.lst_gnb{position: absolute; right:45px; margin: 0; padding:28px 0 0 0; }
.lst_gnb > li{position:relative;float:left;width:auto;background:none; font-weight:bold; margin: 0; width: 170px; text-align: center;}
.lst_gnb li.ggnb > a{font-size:22px;color:#000;display: block;padding: 0 0 26px 0; letter-spacing: 0}
.lst_gnb li.ggnb > a:hover{text-decoration: none;}
.lst_gnb li ul{position:absolute;top:57px;padding: 8px 0;z-index:100;display:none;border-left:1px solid #c7c7c7;box-sizing:border-box;text-align: center;background: #fff;}
.lst_gnb li ul li{text-align:center;display: inline-block;width:170px;}
.lst_gnb li ul li a{font-weight:normal;display: block;margin: 0 auto; line-height: 30px;font-size: 14px; color: #333; text-decoration: none;letter-spacing: 0}
.lst_gnb li ul li a:hover, .lst_gnb li ul li a:active{font-weight: 600; color:#0069c8; text-decoration: none;}
.lst_gnb li > .gnbli:hover, .lst_gnb li > .gnbli:active{color:#0069c8;}
.sp_ico_btn{overflow:hidden;display:inline-block;background:url(../images/common/sp_btn2.gif) no-repeat;text-indent:-999em;*text-indent:0px;*line-height:999em}
.sp_ico_btn.close{display:none;}
.group_gnb a.btn_pctotalview{position: absolute; right: 0; top:28px;}
#totalView{width:100%; margin:0 auto; position:absolute; top:113px ;padding-left:30px;background:#fff;z-index:150; border-bottom:3px solid #999999;border-top:1px solid #c7c7c7;}
#totalView .openMenu{width:940px; margin:0 auto; height: 200px; position: relative;}
#totalView .openMenu ul{float:left;height:200px;}
.wLst{position: absolute;right:60px;margin: 0; }
#totalView .openMenu ul li{text-align:center;display: inline-block;width:170px; }
#totalView .openMenu ul li > ul{border-left:1px solid #c7c7c7;box-sizing:border-box;padding:7px 0 0 0;}
#totalView .openMenu ul li:last-child > ul{border-right:1px solid #c7c7c7;box-sizing:border-box;}
#totalView .openMenu ul li a{font-weight:normal;display: block;margin: 0 auto; line-height: 30px; height: 30px; text-decoration: none; color: #333;}
#totalView .openMenu ul li a:hover, #totalView .openMenu ul li a:active{font-weight: 600; color:#0069c8; text-decoration: none;}
/* 모바일 전체보기 메뉴 */
#cbp_spmenu_s1{display: none;}
a.btn_totalview{display: none;}
div.modal{display:none;}
/* 푸터 */
#footer{padding:0;background: #484848;width: 100%; letter-spacing:0; clear:both;}
#footer .f_inner{width:940px;margin:0 auto;overflow: hidden;}
.f_inner h1{float: left; width: 252px; height: 28px; margin: 28px 0 }
.f_inner h1 a img{display: block; width:100%;}
.f_inner .f_right{margin: 20px 0;padding:0  0 0 50px; float: left;}
.f_right .clause{display: flex; margin: 0 0 5px 0}
.f_right .clause li {color: #fff; font-size:13px; font-weight:600; float: left; cursor: pointer; background: url(../images/common/fotBar.gif) no-repeat 0 5px; padding:0 10px;}
.f_right .clause li a{text-decoration: none;}
.f_right .clause .clause01{background:none;}
.f_right .clause .clause01 a{color:#a4c4e2;}
.f_right address{margin: 0 0 0 9px; float: left; color: #fff; font-size:13px;}
.f_right address br{display: none;}
/* 레이어팝업스타일 */
.inquiryBox1{width:500px;overflow: hidden;display:none;border:2px solid #949494;position:fixed;background:#FFFFFF;z-index:999;}
.inquiryBox1 .pop-head1 {position: relative;overflow: hidden;background-color: #949494;height: 50px;}
.inquiryBox1 .pop-head1 h2 {position: absolute;top: 0;left: 0;padding:0 0 0 15px;    margin: 15px 0 0 0;font-size: 16px;font-weight:600;color: #fff;}
.inquiryBox1 .pop-head1 p {position: absolute;top: 0;right: 0;padding: 12px 15px;}
.inquiryBox1 .pop-cont1 {margin: 15px;background:#fff;}
.pop-cont1 .cont1_inner{height: 100%;}
.cont1_inner h3{font-size: 16px;font-weight:800;margin-bottom: 10px;}
.clr_point{color:#005aab !important}
span.b-close{width:20px;height:21px;cursor:pointer;}
.inq-btnb1 {text-align: center;margin-bottom: 16px;}
.inq-btnb1 a {font-weight:600;font-size:15px;}
.inq-btnb1 a span{display:inline-block;zoom:1;*display:inline;_display:inline;}
.inq-btnb1 .popc-close {color:#585858;}
.inq-btnb1 .popc-close span{padding: 5px 20px 8px;border:1px solid #585858;border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;-webkit-border-radius:3px;}
.inq-btnb1 .popc-close :hover{color:#fff; background: #585858;}
/* 탑 */
.cmTopScroll {display:none; position:fixed; right:1%;z-index:90;cursor:pointer;bottom:129px;}
.cmTopScroll .top {width: 50px;width: 50px;height:50px;background:#555;padding: 12px;opacity:0.5;text-align:center;-moz-border-radius: 25px;-o-border-radius: 25px;-webkit-transition-property: bottom;-webkit-transition-duration: 0.3s;-webkit-transition-timing-function: ease-in-out;}
.cmTopScroll .top{display: block;} 
@media all and (max-width: 940px) {
/* 헤더 */
.hd_topwrap{width:100%; max-width:940px;}
.hd_topwrap .topR{margin: 0 10px 0 0}
.group_gnb h1.logo{margin: 0 0 0 10px}
.group_gnb a.btn_pctotalview{right: 10px;}
.group_gnb{width:100%; max-width:940px;}
.lst_gnb{padding: 29px 0 0 0;}
.lst_gnb li.ggnb > a{font-size: 18px;}
.lst_gnb li.ggnb > a{padding: 0 0 32px 0;}	
.lst_gnb > li{width: 150px;}
.lst_gnb li ul li{width:150px;}
#totalView .openMenu ul li{width:150px; }
#totalView .openMenu{width:100%; max-width:940px;}
.wLst{right:45px;}
/* 푸터 */
#footer .f_inner{width:100%; max-width:940px;}
.f_inner h1{margin-left:10px}
}
@media all and (max-width: 860px) {
/* 헤더 */	
.group_gnb h1 a img{width: 80%;}
.lst_gnb > li{width: 130px;}
.lst_gnb li ul li{width:130px;}
#totalView .openMenu ul li{width:130px; }
.wLst{right:45px;}
/* 푸터 */
.f_inner h1 a img{display: block; width:90%;}
.f_inner .f_right{padding:0  0 0 10px;}
}	
@media all and (max-width: 768px) {
/* 헤더 */	
#header{border: none;}	
.group_gnb{height: 99px}
.gnb_top{border-bottom: 2px solid #c7c7c7; box-sizing:border-box; height:60px;}
.hd_topwrap{display: none;}
a.btn_pctotalview, #totalView{display:none;}
a.btn_totalview{display: block;position: absolute;left:10px;top: 11px;}
a.btn_totalview img{display: block;width: 80%;}
.group_gnb h1.logo{width:309px; height:25px;}
.group_gnb h1.logo{padding:14px 10px 0 0; left:auto; right: 0;}
.group_gnb h1 a img{width: 100%;}
.lst_gnb{margin:0; width: 100%; right: 0; padding:0; border-bottom:1px solid #c7c7c7; box-sizing:border-box;}
.lst_gnb li{float:left;width:33.3%;background:#fff;font-size:16px;text-align:center;}
.lst_gnb li.ggnb > a {padding: 0; line-height: 35px; padding: 0 0 3px 0}
.lst_gnb li.m1 a{border-right:1px solid #c7c7c7;}
.lst_gnb li.m2 a{border-right:1px solid #c7c7c7;}
.lst_gnb li ul.depth1{display: none !important;}
/* 모바일 전체보기 메뉴 */ 
#cbp_spmenu_s1{display: block;}
.mbi_menu_group{height:100%;background-color:#dfdfdf; border-bottom:1px solid #dfdfdf;  -webkit-overflow-scrolling:touch;  overflow-y:auto; -webkit-overflow-scrolling:touch; position: fixed; width: 270px;}
.mbi_menu_header{height:49px; border-bottom:1px solid #00387F; background-color:#004ea2}
.lst_menu_mbi{width:100%;  }
.lst_menu_mbi > li{background-color:#0f99d1;}
.lst_menu_mbi li a{display:block; position:relative ;padding:9px 20px 12px 15px;border-top:1px solid #ccc;  font-size:1.1em; color:#333;  text-decoration: none;}
.lst_menu_mbi li a.btn_menu_depth1{padding:9px 20px 12px 15px; border-top:1px solid #999; font-weight:bold;font-size:1.3em; color:#fff; zoom:1}
.btn_menu_open .bu_open{display:inline-block; position:absolute; top:16px; right:20px; border:6px solid #0f99d1; border-bottom:0; border-color:#0f99d1 transparent transparent transparent}  
.lst_menu_mbi li a.btn_menu_open{background:#f0f0f0}
.lst_menu_mbi li a.btn_menu_open:hover{ font-weight:bold;}
.h3_totalview{margin-top:-38px; border-left:1px solid #000;font-size:1.5em;font-weight:bold;color:#fff;text-align:center}
.btn_menu_close{display:block; overflow:hidden; float:right; margin-top:-44px; width:46px; height:49px; background:url(../images/common/btn_close.png) 0 0; background-size:100%; text-indent:-9999px}
div.modal{background:#000; opacity:0.6; position:fixed; top:0; left:0; width:100%; height:100%; z-index:900; display:none; }
.lst_2depth{background-color:#ccc;}
li.border_2d{border-bottom: 1px solid #e5e5e5;}
/* 모바일 전체보기 메뉴 스크립트 CSS  */
.cbp_spmenu{position:absolute}
.cbp_spmenu_vertical{top:0;z-index:1000;width:270px; background: #fff; }
.cbp_spmenu_left{left:-270px}
.cbp_spmenu_left.cbp_spmenu_open{left:0px}
.cbp_spmenu_push{overflow-x:hidden;position:relative;left:0}
.cbp_spmenu_push_toright{left:270px}
.cbp-spmenu-push-toleft{left:-270px}
/* 푸터 */
#footer{background: #575757;}
.f_inner {text-align:center; padding: 15px 0} 
.f_inner .f_right {padding: 0 ; margin: 0 auto;  width:100%;}
.f_inner h1{display: none;}
.f_right .clause{display: inline-flex; margin:0 auto 5px auto;  text-align:center;}
.f_right .clause li{display:inline-block; text-align:center;}
.f_right  address{margin: 0 auto; float: none; }
.cmTopScroll {display:block;} 
}
@media all and (max-width: 630px) {
.group_gnb h1.logo{width:229px; height:15px; margin: 3px 0 0 0}
}
@media all and (max-width: 520px) {
.inquiryBox1{width:95%; left:2.5% !important; }
}
@media all and (max-width: 460px) {
.inner_bottom p{font-size: 12px;} 
.f_right address br{display:block;}
}	
@media all and (max-width: 430px) {
.inner_bottom p{font-size: 12px;} 
}	
@media all and (max-width: 425px) {
.inner_top .clause li:first-child{padding: 0 3px 0 0;}
.inner_top .clause li{font-size: 13px; letter-spacing: -1px; }
.inner_bottom p{letter-spacing: -1px; line-height: 130%} 
}